.banner {
  background-color: rgba($secondaryBrand, 0.76);
  text-align: center;
  padding: 18px;
  margin-bottom: 98px;
  margin-left: auto;
  margin-right: auto;
  @mixin atLarge {
    padding: 1.8125rem;
    margin-bottom: 0;
  }

  &__link {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  &--last {
    margin-bottom: 0;
  }

  &__icon {
    padding-top: 15px;
    color: #ffffff;
    font-size: 2.5rem;

  &--rotate-45 {
    transform: rotate(45deg);
  }
  }

  &__title {
    color: $mainBlue;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 500;
    margin: 0;

    &--white {
      color: #ffffff;
    }
  }

  &__subtitle {
    color: $mainOrange;
    text-align: center;
    font-weight: 400;
    font-size: 0.9375rem;
    margin: .25rem 0 1rem 0;

  }
}
