

.btn {
  background-color: $mainBlue;
  color: #fff;
  text-decoration: none;
  padding: .75rem 1.2rem;
  display: inline-block;

  &--orange {
    background-color: $mainOrange
  }

  &--border-green {
    border: 6px solid $darkGreen;
    background: transparent;
    color: $darkGreen;
    text-transform: uppercase;
  }

  &--border-light-green {
    border: 6px solid $lightGreen;
    background: transparent;
    color: #000000;
    font-weight: 600;
    text-transform: uppercase;
  }

  &--white {
    background-color: rgba(#ffffff, .76);
    color: $darkBrown;
  }

  &--large {
    padding: 1.1rem 1.9rem;

      @mixin atSmall {
        font-size: 1.25rem;
      }
    }
  }
