.cta-gallery {
  position: relative;
  border-bottom: 10px solid $darkBrown;
  overflow: hidden;
  text-align: center;

  &__image {
    display: block;
  }

  &__btn {
    position: absolute;
    top: 50%;

  }
}
