.cta-gallery {
  position: relative;
  border-bottom: 10px solid $darkBrown;
  overflow: hidden;


  &__image {
    display: block;
  }

  &__btn {
    position: absolute;
    top: 50%;
    left:50%;
    transform: translateX(-50%);


  }
}
