    .icon {
      background-image: url('../../assets/images/sprites/sprite-def6c263.svg');
    }
  .icon--clear-view-escapes {
    width: 142.4px;
    height: 59.53px;
    background-position: 67.84335355763926% 71.72551608471461%;
  }
  .icon--comment {
    width: 64px;
    height: 64px;
    background-position: 82.08616780045351% 83.0089928057554%;
  }
  .icon--facebook {
    width: 21.23px;
    height: 42.01px;
    background-position: 93.63953945056535% 61.246734372567%;
  }
  .icon--fire {
    width: 56px;
    height: 64px;
    background-position: 54.788418708240535% 83.0089928057554%;
  }
  .icon--flowery-vw {
    width: 505px;
    height: 290px;
    background-position: 0 0;
  }
  .icon--globe {
    width: 64px;
    height: 64px;
    background-position: 96.59863945578232% 83.0089928057554%;
  }
  .icon--instagram {
    width: 42.01px;
    height: 42.01px;
    background-position: 83.88950085315017% 69.55137632138964%;
  }
  .icon--logo {
    width: 143px;
    height: 112px;
    background-position: 67.95580110497238% 57.08661417322835%;
  }
  .icon--mail {
    width: 64px;
    height: 48px;
    background-position: 88.20861678004535% 61.88811188811189%;
  }
  .icon--rain {
    width: 64px;
    height: 64px;
    background-position: 88.20861678004535% 52.15827338129496%;
  }
  .icon--shop {
    width: 246px;
    height: 330px;
    background-position: 0 100%;
  }
  .icon--star {
    width: 64px;
    height: 64px;
    background-position: 55.78231292517007% 94.51978417266187%;
  }
  .icon--twitter {
    width: 51.78px;
    height: 42.06px;
    background-position: 99.9514584528485% 50.17821919230369%;
  }
  .icon--wifi {
    width: 60px;
    height: 64px;
    background-position: 67.86516853932584% 83.0089928057554%;
  }
  .icon--youtube {
    width: 34.75px;
    height: 42px;
    background-position: 91.52791068580542% 69.55017301038062%;
  }
