    .icon {
      background-image: url('../../assets/images/sprites/sprite-46e7ea45.svg');
    }
  .icon--clear-view-escapes {
    width: 142.4px;
    height: 59.53px;
    background-position: 99.58217270194986% 0;
  }
  .icon--comment {
    width: 64px;
    height: 64px;
    background-position: 28.82882882882883% 63.63636363636363%;
  }
  .icon--facebook {
    width: 21.23px;
    height: 42.01px;
    background-position: 97.73765910035124% 30.06717510985403%;
  }
  .icon--fire {
    width: 56px;
    height: 64px;
    background-position: 55.65217391304348% 63.63636363636363%;
  }
  .icon--globe {
    width: 64px;
    height: 64px;
    background-position: 0 63.63636363636363%;
  }
  .icon--instagram {
    width: 42.01px;
    height: 42.01px;
    background-position: 50.821754989958606% 88.89337845345725%;
  }
  .icon--logo {
    width: 143px;
    height: 112px;
    background-position: 0 0;
  }
  .icon--mail {
    width: 64px;
    height: 48px;
    background-position: 64.41441441441441% 31.005208333333332%;
  }
  .icon--rain {
    width: 64px;
    height: 64px;
    background-position: 82.88288288288288% 63.63636363636363%;
  }
  .icon--star {
    width: 64px;
    height: 64px;
    background-position: 0 100%;
  }
  .icon--twitter {
    width: 51.78px;
    height: 42.06px;
    background-position: 88.37844761335496% 30.074770132363344%;
  }
  .icon--wifi {
    width: 60px;
    height: 64px;
    background-position: 28.31858407079646% 100%;
  }
  .icon--youtube {
    width: 34.75px;
    height: 42px;
    background-position: 98.70646766169155% 56.56565656565657%;
  }
